.container {
  z-index: 99;
}

.appBar {
  background-color: white;
  color: black;
}

.accent {
  color: rgb(80 9 221);
}

.logo {
  font-weight: 900;
}

.badge {
  margin-left: 12px;
  font-weight: 600;
}

.unreadCount {
  margin-right: 18px;
}

/* drawer */
.drawer {
  margin-top: 10px;
}

.read {
  opacity: 0.4;
}